body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #333333;
  border-top: 10px solid #274a64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Caveat Brush', cursive;
}

a {
  text-decoration: none;
}

p {
  line-height: 150%;
}

.container {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: center;
}

.navigation {
  padding: 10px 0;
}

.navigation .active {
  font-weight: bold;
}

.navigation a {
  padding: 10px 20px;
  color: #bdbdbd;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-name {
  color: #274a64; /* dark blue */
  font-size: 40px;
  margin-bottom: 10px;
}

.header-activity {
  margin-top: 0;
  font-size: 20px;
}

.content {
  display: flex;
}

.content section {
  margin: 0 20px;
}

.poster {
  display: flex;
  justify-content: center;
}

.poster img {
  width: 400px;
  height: 592px;
}

.details-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-description .title {
  color: #9b51e0;
  font-size: 30px;
  margin-bottom: 0px;
}

.details-description .title img {
  height: 100px;
}

.button {
  color: #333;
  font-weight: 700;
  border: 2px solid darkgray;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.links .button {
  margin: 0 10px;
}

.button.imdb {
  border-color: #917d3e;
  background-color: hsl(46, 80%, 60%);
}

.button.imdb:hover {
  background-color: hsl(46, 90%, 70%);
}

.button.twitter {
  border-color: hsl(206, 89%, 20%);
  background-color: hsl(206, 89%, 60%);
}

.button.twitter:hover {
  background-color: hsl(206, 89%, 70%);
}

.socials {
  margin: 40px 0;
}

.socials a {
  margin: 20px;
}

.socials img {
  height: 20px;
  transition: opacity 0.5s;
}

.socials img:hover {
  opacity: 0.8;
}

.footer {
  width: 100%;
  text-align: center;
}

.footer p {
  line-height: 50%;
}

.footer-credits {
  background-color: #274a64;
  color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 40px;
}

.footer-credits .source-code a {
  color: #507189;
}

.hover.grow {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hover.grow:hover {
  transform: scale(1.1);
}

iframe {
  border-style: none;
}
